.sale-slider {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding: 1rem 0;
    scroll-behavior: smooth;
}
.sale-slider::-webkit-scrollbar {
    display: none;
}
.slide {
    min-width: 200px;
    flex: 0 0 auto;
}
.slide img {
    width: 100%;
    border-radius: 10px;
}
